aniso8601==3.0.2
apparmor==2.11.0
appdirs==1.4.3
Click==7.0
cupshelpers==1.0
Flask==1.0.2
Flask-RESTful==0.3.6
itsdangerous==0.24
Jinja2==2.10
LibAppArmor==2.11.0
MarkupSafe==1.0
packaging==16.8
pycups==1.9.73
pycurl==7.43.0
pyparsing==2.2.0
pytz==2018.5
six==1.11.0
Werkzeug==0.14.1
